@use '../../assets/scss/theme.scss' as *;
@use '../../assets/scss/mixin.scss' as *;
.projects {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: black;
    background-image: url(./img/etoile.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Neonderthaw', cursive;
    position: relative;
    &__nav {
        padding: 0 0 0 10vh;
        display: flex;
        flex-direction: column;
        z-index: 10;
        div {
            p {
                font-size: 6vw;
                height: 100%;
            }
        }
    }
}

@include mobile {
    .projects {
        background-image: url(./img/space.jpg);
        &__nav {
            div {
                p {
                    font-size: 10vw;
                }
            }
        }
    }
}

.etoile {
    background-image: url(./img/etoile.jpg);
    background-position: center;
    background-size: cover;
}

.flamme {
    background-image: url(./img/flamme.jpg);
    background-position: center;
    background-size: cover;
}

.space {
    background-image: url(./img/space.jpg   );
    background-position: center;
    background-size: cover;
}

.women {
    background-image: url(./img/women.jpg);
    background-position: center;
    background-size: cover;
}

.enable {
    transition: font-size transform 1s;
    color: $threeColor;
    transform: translate(8vw, 0) scale(0.8);
}