@use './theme.scss' as *;
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app {
    min-height: 100vh;
    width: 100%;
    background-color: $backgroundColor;
    color: $firstColor;
    a {
        color: $firstColor;
    }
}