@use './theme.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Neonderthaw', cursive;
}

#app {
    min-height: 100vh;
    width: 100%;
    background-color: $backgroundColor;
    color: $firstColor;
    a {
        color: $firstColor;
    }
}